{% block page_content %}
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crop Classifiction</title>

    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<h1>Crops Classifiction</h1>
<h4>Types:</h4>
<p>['ladies_finger', 'maize', 'carrot', 'sunflower', 'thulasi',
    'tomato', 'pumpkin', 'onion', 'brinjal']</p>
<form action="/predict/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="img">Enter the image: </label><br><br>
    <input id="img" type="file" name="img" ><br><br>
    <input type="submit" value="Submit">
</form>
{% if res1 or res2%}
<h4>{{res1}}</h4>
{% endif %}
</body>
</html>
{% endblock %}  